<!DOCTYPE html>
<html lang="en">

    <head>
        <head>
            <title> Playlist </title>
            <meta name="author" content="Stefano Gonçalves Simao">
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
        </head>
    </head>

    <body class="player" id="player_body" onload="init()">
        <!-- The content of the player should be dynamically generated.
            Do not manually add any HTML here -->
        <h1>Exercise 5 - Object-Oriented JavaScript - Playlist</h1>

        
        <script src="js/script.js"></script>
        <!-- Script where the init_player_with_playlist function is implemented -->
        <script src="js/init.js"></script>
        <script src="js/data.js"></script>

        <script>
            //This function will call the init_player function passing a test playlist
            //You are welcome to change the playlist

            function init() {
                let songs = ['music/one.mp3', 'music/two.mp3', 'music/three.mp3', 'music/four.mp3', 'music/five.mp3', 'music/seven.mp3', 'music/six.mp3'];

                let songs2 = [ 'music/five.mp3', 'music/two.mp3', 'music/four.mp3', 'music/one.mp3', 'music/seven.mp3', 'music/six.mp3', 'music/three.mp3'];

                let dom = document.getElementById("player_body");

                init_player_with_playlist(dom, "pl", songs);

                //init_player_with_playlist(dom, "pl2", songs2);

                //init_player_with_playlist(dom, "pl3", songs2);

            }
        </script>
    </body>

</html>