<h1>Create New Quiz</h1>
<form>
    <article id="article_0">
        <h3>Question 1</h3>
        <button type="button" id="remove_button"></button>
        <label for="question_0">Question:</label>
        <input type="text" name="question_0" id="question_0">
        <label for="correct_0">Correct answer:</label>
        <input type="text" name="correct_0" id="correct_0">
        <label for="wrong0_0">Wrong answer:</label>
        <input type="text" name="wrong0_0" id="wrong0_0">
        <label for="wrong1_0">Wrong answer:</label>
        <input type="text" name="wrong1_0" id="wrong1_0">
        <label for="wrong2_0">Wrong answer:</label>
        <input type="text" name="wrong2_0" id="wrong2_0">
        <label for="difficulty_0">Difficulty:</label>
        <input type="range" name="difficulty_0" id="difficulty_0" min="0" max="2">
    </article>
</form>
<div id="add_question">
    <button type="button" id="addQuestion">+</button>
</div>
<div id="createquiz">
    <button type="button" id="cancel">Cancel</button>
    <button type="button" id="submit">Submit</button>
</div>