<article class="quiz" id="<%= e._id %>">
    <% let i = 0; %>
    <span class="Quizname">
        <p>Quiz <%= j %></p>
        <ul class="details">
            <% e.questions.forEach(q => { %>
                <% if (i < 4) { %>
                <li><%= q.q %></li>
                <% } %>
                <% i += 1; %>
            <% }); %>
            <% if (e.questions.length > 4) { %>
            <li>...</li>
            <% } %>
        </ul>
    </span>
    <div id="host_buttons">
        <button type="button" class="edit" id="host_edit"></button>
        <button type="button" class="delete" id="host_remove"></button>
        <button type="button" class="playgame" id="host_play"></button>
    </div>
</article>

